.center-header {
  text-align: center;
  font-size: 24px;
  color: #333;
}

h1 {
    display: block;
    font-size: 1.5em;
    background-color:rgb(6, 48, 2);
    color: #ffffff;
    padding: auto;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.center-img {
  display: block;
  margin: 0 auto;
  width: 320px;
  height: 380px;
  border: 10px solid rgb(64, 37, 0);
  border-radius: 25px;
  box-sizing: border-box;
}

h2 {
  text-align: center;
  font-size: 18px;
  color: #7b5800;
  font-family: "Lucida Console", "Courier New", monospace;
  
}
p {
  text-align: center;
  font-size: 16px;
  color: #333;
  font-family: Arial, sans-serif;
}

div {
    display: block;
    unicode-bidi: isolate;
    border-radius: 50px;
}

.container {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: 0 auto;
  flex-wrap: wrap; 
}

.object1, .object2 {
  border: solid rgb(93, 66, 6);
  width: 30%;
  padding: 1rem;
  border-radius: 10px;
  background-color: #cfb171;
  color: #000000;
}

.right{
  text-align: center;
  margin-top: 20px;
  padding-right: 20px;
}


a {
  text-decoration: none;
  color: white;
  background-color: #4c7725;
  padding: 8px 16px;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s;
}

a:hover {
  background-color: #21a90c;
}

.mamamiya {
  width: 300px;
  margin: 20px auto;
  padding: 15px;
  background-color: #f0f8ff;
  border: 2px solid #0f98dc;
  border-radius: 10px;
  font-family: Arial, sans-serif;
  color: #000;
}

.mamamiya h3 {
  text-align: center;
  color: #0f98dc;
}

.mamamiya ul {
  list-style-type: square;
  padding-left: 20px;
  text-align: left;
}

.project { 
  text-align: center; 
  margin-right: auto;
  margin-left: auto;
  display: block; 
}

.center-email{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
  border-color: rgb(189, 68, 68);
  border-style:solid;
  border-width: 15px;
  border-radius: 10px;
}

body {
  background-color: hwb(66 60% 9%);
  font-family: 'K2D', sans-serif;
}

.center-ig{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
  border-color: rgb(219, 190, 42);
  border-style:solid;
  border-width: 15px;
  border-radius: 100px;
}

